<dl>
  <dt>
    <label for='url_name'> Name: </label>
  </dt>
  <dd>
    <input id='url_name' type='text' name='url[name]' value='<%= @url.name %>' autofocus>
  </dd>
</dl>

<div class='clear_both'></div>